body{
  margin:0;
  font-family: Arial, sans-serif;
}

.hero{
  display:flex;
  flex-wrap:wrap;
  background:#9c8268;
  color:white;
}

.left{
  flex:1;
  padding:40px;
}

.left h1{
  font-size:40px;
}

.stats{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.stats div{
  text-align:center;
}

.right{
  flex:1;
}

.right img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.about{
  display:flex;
  flex-wrap:wrap;
  padding:40px;
  gap:20px;
}

.images{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:10px;
  flex:1;
}

.images img{
  width:100%;
}

.text{
  flex:1;
}